@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

:root{
    --main-color: #2a23fe;
    --second-color: #0d1e70;
    
}

section{
    padding: 50px 10%;
}

img{
    width: 100%;
}

*::selection{
    color: #FFF;
    background: var(--main-color);
}
#seta{
    display: none;
}
